* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: rgb(245, 245, 245);
}
footer {
  padding: 5px 0;
  min-height: 40px;
  background: #343a40;
  color: #ffffff;
  text-align: center;
}
.my-container{
  min-height: 70vmin;
}